/* Footer block */
footer {
    position: relative;
    background: var(--base-color);
    padding-top: 50px;
    padding-bottom: 30px;
}

footer h4 {
    color: var(--text-color);
    font-family: var(--base-font);
    font-size: 16px;
    font-weight: 400;
}

footer hr {
    width: 100%;
    border: 1px solid #2F8FFF;
}

footer button {
    font-size: 12px;
}

footer .cta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    font-family: var(--base-font);
    font-weight: 800;
    font-size: 36px;
    color: var(--base-color3);
    padding-bottom: 80px;
    position: relative;
    z-index: 200;

}

footer .cta .cta-spacer {
    padding: 0 100px 0 0;
}

footer .cta p {
    width: 75%;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
}

@media screen and (max-width: 800px) {
    footer .cta {
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: var(--base-font);
        font-weight: 800;
        font-size: 26px;
        grid-template-columns: 1fr
    }
}

footer .cta .footer-about {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

footer .cta .footer-about .footer-buttons {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 20px 10px;
}

@media screen and (max-width: 1750px) {
    footer .cta .footer-about .footer-buttons {
        grid-template-columns: 1fr;
    }
}

footer .cta .footer-about .footer-buttons .footer-btn-right {
    position: relative;
    align-content: center;
}

.footer-btn-left {
    align-content: center;
}

.footer-btn-right {
    align-content: center;
    min-width: 200px;
}


footer .cta .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 90px;
    padding-top: 20px;
    justify-content: center;
    width: max-content;
}

footer .cta .footer-links .link-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    color: white;
    gap: 12px;

}

@media screen and (max-width: 1300px) {
    footer .cta .footer-links {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 12px;
    }
}



footer .footer-bottom {
    flex-direction: column;
    position: relative;
    z-index: 200;
}

footer .company-name {
    padding: 10px 0;
}

@media screen and (max-width: 950px) {
    footer .footer-bottom .flex-between {
        flex-wrap: wrap;
        justify-content: center;
    }
}

footer .logo {
    position: relative;
    z-index: 200;
}

@media screen and (max-width: 500px) {
    footer .logo {
        display: none;
    }
}

footer .footer-menu {
    position: relative;
    z-index: 200;
}

footer .footer-menu .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    footer .footer-menu .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

footer .footer-menu .wrapper .right {
    padding-left: 30px;
}

@media screen and (max-width: 500px) {
    footer .footer-menu .wrapper .right {
        padding-left: 10px;
    }
}

footer .footer-menu .menu {
    padding-bottom: 5px;
}

footer .footer-menu .menu li a {
    font-family: var(--base-font);
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 750px) {
    footer .footer-menu .menu ul {
        flex-wrap: wrap;
    }

    footer .footer-menu .menu ul li {
        display: inline-block !important;
        margin-left: 0;
        margin: 0 10px;
    }
}

footer .footer-menu .copyright {
    font-family: var(--base-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--base-color3);
}

footer .footer-menu .copyright ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

footer .footer-menu .copyright ul li {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

footer .footer-menu .copyright ul a,
footer .footer-menu .copyright ul a:visited {
    text-decoration: none;
    color: var(--base-color3);
    transition: all 0.3s;
}

footer .footer-menu .copyright ul a:hover {
    color: var(--button-color);
}

@media screen and (max-width: 950px) {
    footer .footer-menu .copyright ul {
        justify-content: center;
        margin-bottom: 15px;
    }
}



footer .footer-bg {
    position: absolute;
    top: 0;
    z-index: 100;
    overflow: hidden;
    height: 100%;
}

footer .footer-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

footer .footer-bg:after {
    background: rgba(0, 66, 130, 0.75);
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 750px) {
    footer {
        padding-top: 30px;
    }
}